h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    padding: 30px;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
}
h3 {
    text-align: center;
}
