body {
  background: linear-gradient(#637d9e, #f7d8d7);
}
h1 {
  font-size: 55px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Black Han Sans", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Black Han Sans", sans-serif;
}

h3 {
  text-align: center;
  font-family: "Black Han Sans", sans-serif;
}

h4 {
  text-align: center;
  font-family: "Black Han Sans", sans-serif;
}

h5 {
  text-align: center;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: red;
}
p {
  text-align: center;
  padding: 10px;
  font-family: "Glegoo", serif;
  margin-left: 63px;
  margin-right: 63px;
  font-size: 18px;
}
img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 64px;
  width: 138px;
}
section {
  text-align: center;
}
footer {
  font-size: 18px;
  font-family: "Black Han Sans", sans-serif;
}

ul {
  text-align: center;
  list-style: none;
  padding: 10px;
  font-family: "Glegoo", serif;
  font-size: 18px;
}
.mcs {
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif;
}
.brand-name {
  font-size: 80px;
  text-align: center;
  font-family: "Black Han Sans", sans-serif;
  color: #f7d8d7;
}
.resources {
  margin-bottom: 50px;
}
.linktree {
  margin-bottom: 50px;
}
.references {
  font-size: 13px;
  margin-bottom: 43px;
}

@media (max-width: 1200px) {
  p {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 16px;
  }
  ul {
    font-size: 16px;
  }
  .references {
    margin-bottom: 34px;
  }
  img {
    width: 80px;
  }
  .brand-name {
    font-size: 64px;
  }
}
